/* custom styles can go here */

/* general changes */
.reveal section img {
  margin: 0px 0px;
  background: rgba(255, 255, 255, 0);
  border: 0;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0); }

.reveal a {
  color: #88c540; }

.reveal a:hover {
  color: #e08610;
  text-decoration: underline; }

.reveal .progress span {
  background: #88c540; }

.reveal .slide-number {
  color: #88c540; }

i {
  margin: 0 8px 0 32px; }

/* slide specific changes */
.aboutme img {
  float:left;
  width: 200px;
  height: 200px;
  border-radius: 100px; }

.gettingstarted h3 {
  text-transform: none;
  font-size: 2.18em; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  /*! font-family: monospace; */ }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;}
